---
import Logo from "../assets/images/bee.png"
import Page from "./page.astro"
import Pagemap from "./pagemap.astro"
import Search from "./search.astro"
import Sidebar from "./sidebar.astro"

const { slug } = Astro.props
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>CS61B Textbook</title>

		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap" rel="stylesheet">
	
		<script is:inline src="/lib/jquery-min.js"></script>
	</head>
	<body>
		<div id="header">
			<div id="title">
				<img src={Logo.src}>
				<h1>CS61B Textbook</h1>
			</div>
			<Search></Search>
		</div>
		<div id="main">
			<div id="sidebar">
				<Sidebar slug={slug}></Sidebar>
			</div>
			<div id="content">
				<Page slug={slug} />
			</div>
			<div id="pagemap">
				<Pagemap slug={slug}>
			</div>
		</div>
	</body>
</html>

<style>
	:root {
		
		--dark: rgb(30, 30, 30);
		--darker: rgb(22, 21, 21);

		--border: rgb(83, 83, 83);

		--yellow: #d79921;
		--blue: #79b09f;
	}

	html,
	body {
		display: flex;
		flex-direction: column;
		scroll-behavior: smooth;

		margin: 0;
		width: 100%;
		height: 100%;

		background-color: var(--dark)
	}

	div#title {

		display: flex;
		flex-direction: row;
		align-items: center;

		padding: 0.25rem;
		gap: 1rem;

		img {
			max-height: 2.5rem;
			aspect-ratio: 1;
		}
		h1 {
			font-size: 1.35rem;
			font-weight: 700;
		}
	} 

	div#header {
		position: sticky;
		top: 0;

		padding-left: 2rem;
		padding-right: 2rem;

		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;

		z-index: 2;

		box-shadow: 0px -2px 15px rgba(0, 0, 0, 0.454);

		flex-grow: 0;
		flex-shrink: 1;
		background-color: var(--dark);

		border-top: 0.5px solid var(--border);
		border-bottom: 0.5px solid var(--border);
	}

	div#main {
		container-type: size;

		display: flex;
		flex-direction: row;
		flex-grow: 1;
	}

	div#sidebar {
		flex-grow: 0;
		min-width: 18vw;
		max-width: 18vw;

		padding: 1rem;

		background-color: var(--darker);
		border-right: 0.5px solid var(--border);

		div.sidebar-title {
			color: rgb(107, 106, 104);
		}

		div.sidebar-item {
			display: flex;
			font-size: 0.925rem;
			flex-direction: row;
			gap: 0.75rem;

			margin-top: 0.5rem;
			margin-bottom: 0.5rem;

			cursor: pointer;
			transition: margin 100ms;

			div.section {
				color: gray;
			}

			div.name {
				transition: color 300ms;
			}
		}

		div.sidebar-item.active {
			margin-left: 1rem !important;

			div.name {
				color: #d79921 !important;
			}
		}

		div.sidebar-item:hover {
			margin-left: 0.5rem;

			div.name {
				color: #ffe4a5;
			}
		}

		div.sidebar-item.section {
			padding-left: 2rem;
			margin-top: 0rem !important;
			margin-bottom: 0.25rem !important;
		}
	}

	div#pagemap {
		flex-grow: 0;
		min-width: 18vw;
		max-width: 18vw;

		padding: 1rem;

		background-color: var(--darker);

		div.pagemap-title {
			color: rgb(107, 106, 104);
		}

		div.pagemap-heading {
			font-size: 0.925rem;
			margin-left: 0.5rem;
			margin-top: 0.25rem;

			cursor: pointer;
		}
	}

	div#content {
		overflow: scroll;

		max-height: 100cqh;
		z-index: 1;
		box-shadow: 2px 0px 15px rgba(0, 0, 0, 0.454);

		padding-left: 5vw;
		padding-right: 5vw;

		padding-top: 2rem;

		flex-grow: 1;

		opacity: 1;
		transition: opacity 100ms ease-in-out;
	}

	div#content.hidden {
		opacity: 0;
	}
</style>

<style is:global>
	h1, h2, p, li, a, div {
		font-family: Inter;
		color: white;

		line-height: 1.6;
	}

	h3, h4 {
		font-size: 1.25rem;
		margin: 0.5rem 0 0 0;
	}

	p, li, a {
		font-size: 1rem;
		font-weight: 355;
	}

	a {
		color: var(--blue) !important
	}

	code {
		color: #f9f9f9;

		font-family: 'JetBrains Mono';
		font-size: 0.825rem;

		background-color: rgb(17, 17, 19);

		border: 1px solid rgb(59, 56, 66);
		border-radius: 0.25rem;

		padding: 0.1rem;
		padding-left: 0.3rem;
		padding-right: 0.3rem;

		white-space: nowrap;
	}

	pre.astro-code {
		padding: 0.9rem;
		border-radius: 0.4rem;

		display: flex;
		flex-direction: column;
		gap:0.05rem;
	}

	pre.astro-code code {
		white-space: inherit !important;
		background: none;
		border: none;

		span.line {
			display: inline-block;
			border-radius: 0.2rem;
			line-height: 1;
			padding: 2.5px;
			width: 100%;

			outline: none;
		}

		span.line:hover {
			outline: 1px solid gray;
		}
	}

	div.article-title {
		display: flex;
		gap: 1rem;
		align-items: start;

		font-size: 1.2rem;
		font-weight: 600;

		h1.section {
			color:rgb(255, 255, 255);
			background-color: var(--yellow);
			border-radius: 0.5rem;

			font-size: 1.5rem;
			padding-left: 0.75rem;
			padding-right: 0.75rem;

			margin: 0;

			box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.403);
		}

		h1.title {
			font-size: 2rem;
			line-height: 1.2;
			margin: 0;

			padding-bottom: 1rem;

			text-shadow: 3px 3px 4px rgba(0, 0, 0, 0.7);
		}
	}

	div#search {
		padding: 0.25rem;
		border: 0.5px solid var(--border);
		border-radius: 0.5rem;

		width: 20vw;
	}

	input {
		width: 100%;

		font-size: 0.925rem;
		color: white;

		background: none;
		border: none !important;
	}
</style>